<nav style="text-align: center;">
    
    <a href="/home" style="text-decoration: none;"><h3>AE ORGANIZER</h3><br></a>
    <a href="/event" style="text-decoration: none; margin: 30px;"> EVENT </a>
    <a href="/band" style="text-decoration: none; margin: 30px;"> BAND</a><br><br><hr>
    
</nav>